/* StyleSheet for Meeting Minutes */

:root{
    --first-color: rgba(233, 231, 231, 0.949);

}
header {
    margin: 1rem;
    border: .01rem;
    border-style: dashed;
    border-color: black;
    border-radius: 3rem;
    background-color: white;
    font-family: "Roboto Mono", monospace;
    
}
header h1{
    text-align: center;
}

nav {
    font-size: 4mm;
    justify-content: center;
    text-align: center;
    padding: 3mm;
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    align-self: center;
    
}

nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    justify-content: space-evenly;
}

nav ul a{
    flex: 1;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 10px 0;
    align-items: baseline;
    font-family: "Roboto Mono", monospace;
}

main {
    text-align: center;
}

a:hover{
    transform: scale(1.1);
    background-color: rgb(197, 197, 197);
    border-radius: 2rem;
}

* {
    padding: 0.3rem;
}

h1 {
    color: black;
}

input[type="text"]{
    border: 1px solid black;
}




#content{
    font-size: 1.2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    height: auto;
    margin-bottom: 1rem;

}

#content ul, #content ol {
    list-style-position: inside;
    text-align: center;
    margin: 0;
    padding-top: 0;
}

#content li {
    display: list-item;
    margin: 0.5rem 0;
}

#content h4{
    text-align: center;
    position: relative;
}

h4 ~ ul{
    margin-top: 10px;
}

h4 + ol {
    margin-top: 10px;
}

div.AttendanceList, div.Agenda, div.Unfinished, div.NewBusiness, div.Miscellaneous, div.Media {
    border: 1px solid black;
}

section:has(video){
    border: 1px solid black;
}

.Lebron{
    width: 10cm;
    height: auto;
    display: block;
    padding-top: 1rem;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
}

.Agenda {
    grid-column-start: 2;
    grid-row-start: 1;
}

.Unfinished {
    grid-column-start: 3;
    grid-row-start: 1;
}


.NewBusiness {
    grid-column-start: 1;
    grid-row-start: 2;
}

.Miscellaneous {
    grid-column-start: 2;
    grid-row-start: 2;
}

.Media {
    grid-column-start: 3;
    grid-row-start: 2;
}


main details {
    font-size: 0.9rem;
    color: gray;
    text-align: center;
    text-decoration:underline;
}

main p {
    font-size: 0.8rem;
}

audio {
    max-width: 15cm;
    align-items: start;

}

video {
    max-height: 10cm;
    width: auto;
}
form{
    display: flex;
    color: black;
    background-color: var(--first-color, white);
    flex-direction: column;

    textarea{
        width: 100%;
        max-width: 300px;
    }
}

fieldset > legend {
    text-align: center;
    font-size: 5mm;
}

fieldset button:hover{
    transform: scale(1.1);
}

fieldset button:active{
    border-color: blue ;
}

@media (max-width: 800px){
    #content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    #content h4{
        font-size: .8rem;
    }

    #content ul, ol {
        font-size: .8rem;
    }

    nav ul li {
        flex: none;
        margin: 0.5rem 0;
    }

    nav ul a{
        font-size: 0.7rem;
        flex: 1;
    }

    body{
        font-size: 0.9rem;
    }

    video{
        max-height: 10mm;
    }

    audio{
        max-width: 1rem;
    }
    
}