/* StyleSheet for Meeting Minutes */

:root{
    --first-color: rgba(233, 231, 231, 0.949);

}
header {
    margin: 1rem;
    border: .01rem;
    border-style: dashed;
    border-color: black;
    border-radius: 3rem;
}
header h1{
    text-align: center;
}

header nav {
    font-size: 4mm;
    justify-content: center;
    text-align: center;
    padding: 3mm;
    display: inline;
    position: sticky;
    
}


body #Lebron{
    width: 10cm;
    height: auto;
    display: block;
    padding-top: 1rem;
    justify-self: center;
}

#content{
    font-size: 1.2rem;
    margin-top: 1rem;
}

main details {
    font-size: 0.9rem;
    color: gray;
    text-align: center;
    text-decoration:underline;
}

main p {
    font-size: 0.8rem;
}

audio {
    max-width: 20cm;
    align-items: start;

}

video {
    max-height: 15cm;
    width: auto;
}
footer form{

    color: black;
    background-color: var(--first-color, white);
}

footer form legend {
    text-align: center;
    font-size: 5mm;
}